<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LibraryContext"
			 connectionString="Server=WINDOWS-66D5279\SQLEXPRESS;Database=LibraryDBshka;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>